@page
@model Dev_Blog.Pages.Account.LoginErrorModel
@{
    ViewData["Title"] = "Login Error";
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/LoginRegister.css" />
    <title>Status</title>
</head>
<body id="bootstrap-override">
    <main>
        <div id="login-error" class="container">
            <div class="card">
                <div class="card-body text-center">
                    <h3>Login Error</h3>
                    <h4>UserName and Password do not match</h4>
                </div>
            </div>
        </div>
    </main>
</body>