@page
@model Dev_Blog.Pages.Account.LoginModel
@{
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/All.css" />

    <title>Login</title>
</head>
<body id="bootstrap-override">
    <h1>Login</h1>
</body>