@page
@model Dev_Blog.Pages.Account.RegisterModel
@{
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/All.css" />

    <title>Register</title>
</head>
<body id="bootstrap-override">
    <h1>Register</h1>
</body>