.account {
    font-family: 'Chivo Mono', monospace;
    font-size: 16px;
    margin-top: 100px;

}

.account>div>h1 {
    border-bottom: 1px solid grey;
}

.account>button {
    color: red;
    border: 1px solid red;
    margin-top: 12;
    padding: 10;
}