@inherits MainLayout
@inject IModalService _modal

<footer>
    <AuthorizeView Policy="Visitor">
        <button @onclick="@(() => _modal.Show<DeleteAccount>("Are you sure?", options))">
            Delete Account
        </button>
    </AuthorizeView>

    <span>
        © 2020 Copyright: TheDevBlog
    </span>
</footer>