@using Pages.Modals

@inject IHttpContextAccessor _http
@inject IModalService _modal

<nav>
    <!-- LOGO -->
    <img src="/Imgs/Logo.png" height="115" width="100" />

    <!-- HOME LINK -->
    <NavLink href="/">
        The Dev Blog
    </NavLink>

    <div>
        <ul>
            <!-- PAGE LINKS -->
            <NavLink href="/">
                Home
            </NavLink>
            <NavLink href="/Posts">
                Status
            </NavLink>
            <NavLink href="/About">
                About
            </NavLink>

            <AuthorizeView>
                <Authorized>
                    <!-- WELCOME USER -->
                    <NavLink>
                        <a>Welcome @_http.HttpContext.User.Identity.Name</a>
                    </NavLink>

                    <!-- LOGOUT -->
                    <NavLink>
                        <form style="display : inline;" method="post" action="/signout">
                            <input type="submit" value="sign out" />
                        </form>
                    </NavLink>
                </Authorized>

                <!-- LOGIN / REGISTER -->
                <NotAuthorized>
                    <button @onclick="@(() => _modal.Show<SignIn>("Login"))">
                        Login
                    </button>
                    <button @onclick="@(() => _modal.Show<Register>("Sign Up"))">
                        Sign Up
                    </button>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div>
</nav>