* {
    font-family: 'Press Start 2P', cursive;
}

::deep a:first-child {
    /*    border: 2px solid red;*/
    /*    display: block;*/
}

nav {
    display: inline-block;
    width: 100%;
}

span {
    display: block;
}

section:last-child {
    float: right;
    margin-top: 97px;
}

    section:last-child a:first-child {
        margin-right: 25px;
    }

section,
form[signout] {
    display: inline-block;
}
