@inject IHttpContextAccessor _http
@inject IModalService _modal

<nav>
    <!-- LOGO -->
    <img src="/Imgs/Logo.png" height="115" width="100" />

    <!-- PAGE LINKS -->
    <section navlinks>
        <NavLink href="/"> The Dev Blog </NavLink>
        <NavLink href="/"> Home </NavLink>
        <NavLink href="/Posts"> Status </NavLink>
        <NavLink href="/About"> About </NavLink>
    </section>

    <section>
        <AuthorizeView>
            <Authorized>
                <!-- WELCOME USER -->
                <span>Welcome @_http.HttpContext.User.Identity.Name</span>

                <!-- LOGOUT -->
                <form signout method="post" action="/signout">
                    <input type="submit" value="sign out" />
                </form>
            </Authorized>

            <!-- LOGIN / REGISTER -->
            <NotAuthorized>
                <button @onclick="@(() => _modal.Show<SignIn>("Login"))">
                    Login
                </button>               
                <button @onclick="@(() => _modal.Show<Register>("Sign Up"))">
                    SignUp
                </button>
            </NotAuthorized>
        </AuthorizeView>
    </section>
</nav>
