section:root {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 20px 0px 20px;
}

.signup-prompt {
    font-size: 20px;
    margin: 100px auto 100px auto;
    padding: 15px;
    text-align: center;
    width: fit-content;
}

.signup-prompt a {
    text-decoration: none;
}

.update-video * {
    padding-right: 5px;
}

.update-video {
    display: flex;
}

.youtube-video {
    border-radius: .5em;
    height: 520px;
    margin-top: 25px;
    margin-bottom: 100px;
    width: 100%;
}

.youtube-video iframe {
    border: none;
    border-radius: .5em;
}

@media (max-width: 400px) {
    .signup-prompt {
        margin: 25px 0px 75px 0px;
    }

    .youtube-video {
        height: 350px;
        margin-top: 10px;
    }
}