.sign-up-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
}

.errors p {
    color: red;
}

/* .sign-up-container input {
    background-color: #0d1116;
    color: white;
} */

.sign-up-container label {
    color: white;
}

.sign-up-container button {
    margin-top: 1em;
    padding: 10px;
}