@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#bootstrap-override .container * {
    font-family: 'Press Start 2P', cursive;
}

/*About the game*/
div[gameDescription] p {
    padding: 200px 0px;
}

/*About the creator*/
div[creatorDescription] > div {
    display: inline-block;
}

div[creatorDescription] li {
    color: grey;
}

div[creatorDescription] ul {
    list-style-type: square;
    padding-bottom: 20px;
}

div[creatorDescription] img {
    height: 600px;
    width: 600px;
    border-radius: 5px;
    float: right;
    display: inline-block;
}

@media screen and (max-width: 1200px) {
    div[creatorDescription] img {
        height: 475px;
        width: 475px;
    }
}

@media screen and (max-width: 992px) {
    div[creatorDescription] > div {
        margin: auto;
        width: 400px;
        display: block;
    }

    div[creatorDescription] ul {
        text-align: left;
    }

    div[creatorDescription] img {
        height: 400px;
        width: 400px;
        float: none;
        display: block;
        margin: auto;
        display: block;
        text-align: center;
    }
}