@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#bootstrap-override .panel-body {
    background-color: #414141;
    color: #fffaf0;
    border: none;
}

#bootstrap-override .container * {
    border: none;
}

#bootstrap-override .panel-body textarea,
#bootstrap-override .panel-body input,
#bootstrap-override .panel-body div {
    color: #fffaf0;
    background-color: #313131;
}

.pb-cmnt-container {
    font-family: Lato;
    margin-top: 100px;
}

.pb-cmnt-textarea {
    resize: none;
    padding: 20px;
    height: 130px;
    width: 100%;
    border: 1px solid #F2F2F2;
}

#bootstrap-override .panel-box {
    text-align: center;
    margin: auto;
}

#bootstrap-override textarea {
    border-radius: 5px;
    margin-bottom: 15px;
}

/*image upload*/
#bootstrap-override #file[type="file"] {
    display: none;
}

#bootstrap-override #img-upload {
    display: flex;
}

    #bootstrap-override #img-upload:hover, #bootstrap-override #img-upload label:hover {
        background-color: #CCCCCC;
        cursor: pointer;
    }

#bootstrap-override input {
    width: 115px;
}