@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#bootstrap-override main > div:first-of-type {
    margin: auto;
}

#bootstrap-override nav {
    font-family: 'Press Start 2P', cursive;
}

#bootstrap-override #logout-button {
    border: none;
    background-color: inherit;
}

#bootstrap-override {
    text-align: center;
}

    /*Dark Theme*/
    #bootstrap-override .navbar-brand {
        color: #ca3e47;
    }

#bootstrap-override {
    background-color: #313131;
    color: #fffaf0;
}

    #bootstrap-override .card,
    #bootstrap-override > header {
        background-color: #414141;
        color: #fffaf0;
    }

    #bootstrap-override .card-header {
        background-color: #626262;
    }

    #bootstrap-override textarea {
        color: black;
    }