@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/*Header*/
#bootstrap-override nav {
    font-family: 'Press Start 2P', cursive;
}

#bootstrap-override #logout-button {
    border: none;
    background-color: inherit;
}

ul[navUL] {
    width: 100%;
}

    ul[navUL] > li {
        display: inline-block;
    }

li[rightLi] {
    margin-left: auto;
}

    li[rightLi]:first-child {
        text-align: right;
    }

@media screen and (max-width: 1200px) {
    li[rightLi] {
        text-align: left;
        margin-left: 0;
    }
}

main {
    margin-bottom: 125px;
}

/*Footer*/
footer[main] {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #BEB8AB;
    background-color: #414141;
}

/*Posts*/
#bootstrap-override .post-description {
    padding: 15px;
    background-color: #626262;
    border-radius: 5px;
    margin: 15px auto;
    width: 768px;
}

#bootstrap-override .update-img {
    height: 432px;
    width: 768px;
    border-radius: 5px;
}

@media screen and (max-width: 975px) {
    #bootstrap-override .update-img {
        height: 360px;
        width: 640px;
    }

    #bootstrap-override .post-description {
        width: 640px;
    }
}

@media screen and (max-width: 760px) {
    #bootstrap-override .update-img {
        height: 252px;
        width: 448px;
    }

    #bootstrap-override .post-description {
        width: 448px;
    }
}

@media screen and (max-width: 525px) {
    #bootstrap-override .update-img {
        height: 234px;
        width: 416px;
    }

    #bootstrap-override .post-description {
        width: 416px;
    }
}

/*Dark Theme*/
#bootstrap-override .navbar-brand {
    color: #ca3e47;
}

#bootstrap-override {
    background-color: #313131;
    color: #fffaf0;
}

    #bootstrap-override .card,
    #bootstrap-override > header {
        background-color: #414141;
        color: #fffaf0;
    }

    #bootstrap-override .card-header {
        background-color: #626262;
    }

    #bootstrap-override .modal-content {
        background-color: #414141;
        color: #fffaf0;
    }

    #bootstrap-override .modal-header,
    #bootstrap-override .modal-footer {
        border-color: #313131;
    }

    #bootstrap-override .modal-body input {
        background-color: #313131;
        border: none;
    }