@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#bootstrap-override main {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    margin-top: 50px;
}

    #bootstrap-override main > img {
        margin-top: 100px;
    }

@media screen and (max-width: 805px) {
    #bootstrap-override main > img {
        height: 85%;
        width: 85%;
    }
}