#bootstrap-override .card {
    text-align: left;
}

#bootstrap-override hr {
    border-radius: 2.5px;
    height: 5px;
    border: none;
    background: #dddddd;
}

/*Suggestion Box*/
#bootstrap-override .card-footer h4 {
    font-family: 'Press Start 2P', cursive;
}