@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#bootstrap-override .modal-body .btn {
    background-color: #ca3e47;
    color: #fffaf0;
}

    #bootstrap-override .modal-body .btn:hover {
        background-color: #83272D;
        color: #313131;
    }

/*Login Error Page*/
#bootstrap-override #login-error {
    margin-top: 20%;
    font-family: 'Press Start 2P', cursive;
}