@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#bootstrap-override .modal-body .btn {
    background-color: #ca3e47;
    color: #fffaf0;
}

    #bootstrap-override .modal-body .btn:hover {
        background-color: #83272D;
        color: #313131;
    }

/*Login Error Page*/
#bootstrap-override #login-error {
    margin-top: 20%;
    font-family: 'Press Start 2P', cursive;
}

/*Registration error*/
#bootstrap-override .modal-body div {
    color: #ca3e47;
    font-weight: 800;
    font-family: Courier New, Courier, monospace;
    margin-bottom: 15px;
}

    #bootstrap-override .modal-body div ul {
        list-style: none;
    }

/*Login Error Page*/
#bootstrap-override #login-error {
    margin-top: 20%;
    font-family: 'Press Start 2P', cursive;
}