@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#bootstrap-override #add-post {
    margin: 15px;
}

#bootstrap-override .card {
    margin-bottom: 15px;
}

#bootstrap-override [edit] {
    font-family: 'Press Start 2P', cursive;
}

/*Voting system*/
#bootstrap-override .voting-system span {
    font-family: 'Press Start 2P', cursive;
}

#bootstrap-override .login-to-vote {
    font-size: 0.75em;
    color: #727272
}

#bootstrap-override .voting-system button {
    border: none;
    background: inherit;
}

span[up] {
    color: greenyellow;
}

span[down] {
    color: orangered;
}

/*Delete button */
#bootstrap-override .delete-form {
    display: inline-flex;
}

    #bootstrap-override .delete-form button {
        border: none;
        background-color: inherit;
    }

        #bootstrap-override .delete-form button:hover {
            color: red;
        }

/*Edit button*/
a[edit] {
    color: #fffaf0;
}

#bootstrap-override .delete-form a:hover {
    color: #A5A5A5;
}

/*Edit form*/
#bootstrap-override #edit-form textarea {
    width: 100%;
    margin-bottom: 10px;
}

/*Comment box*/
#bootstrap-override .comment-box {
    margin: 0px 15px 15px 15px;
    padding: 7.5px;
}

    #bootstrap-override .comment-box button {
        margin-top: 10px;
    }

#bootstrap-override .comment-username,
#bootstrap-override .user-icon {
    color: #8B8B8B;
}

#bootstrap-override .posted-comments {
    border: 1.5px solid #C6C6C6;
    border-radius: 3.5px;
    margin-bottom: 5px;
}

#bootstrap-override div[comment] {
    background-color: #313131;
}