#bootstrap-override #add-post {
    margin: 15px;
}

#bootstrap-override .card {
    text-align: left;
    margin-bottom: 15px;
}

/*Delete button */
#bootstrap-override .delete-form {
    display: inline-flex;
}

    #bootstrap-override .delete-form button {
        border: none;
        background-color: inherit;
    }

        #bootstrap-override .delete-form button:hover {
            color: red;
        }

    /*Edit button*/
    #bootstrap-override .delete-form a {
        color: black;
    }

        #bootstrap-override .delete-form a:hover {
            color: #A5A5A5;
        }

/*Edit form*/
#bootstrap-override #edit-form textarea {
    width: 100%;
    margin-bottom: 10px;
}

/*Comment box*/
#bootstrap-override .comment-box {
    margin: 0px 15px 15px 15px;
}

    #bootstrap-override .comment-box button {
        margin-top: 10px;
    }

#bootstrap-override .update-img {
    height: 432px;
    width: 768px;
}

#bootstrap-override .posted-comments {
    border: 1.5px solid #C6C6C6;
    border-radius: 3.5px;
    margin-bottom: 5px;
}

@media screen and (max-width: 975px) {
    #bootstrap-override .update-img {
        height: 360px;
        width: 640px;
    }
}

@media screen and (max-width: 760px) {
    #bootstrap-override .update-img {
        height: 252px;
        width: 448px;
    }
}

@media screen and (max-width: 525px) {
    #bootstrap-override .update-img {
        height: 234px;
        width: 416px;
    }
}