<link type="text/css" rel="stylesheet" href="~/css/Footer.css" />
<link type="text/css" rel="stylesheet" href="~/css/Modals.css" />

<footer id="main-footer" main class="py-4">
    @{
        if (User.Identity.IsAuthenticated)
        {
            <div deleteAccount>
                @{ await Html.RenderPartialAsync("../Account/_Delete");}
            </div>

            <div signedIn class="py-3">
                © 2020 Copyright: TheDevBlog
            </div>
        }
        else
        {
            <div class="py-3">
                © 2020 Copyright: TheDevBlog
            </div>
        }
    }
</footer>