@page
@model Dev_Blog.Pages.Unsubscribe.SuccessModel
@{
    ViewData["Title"] = "Unsubscribe";
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/all.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Unsubscribe.css" />
    <title>Unsubscribe</title>
</head>
<body id="bootstrap-override">
    <h3 unsub>You are now unsubscribed :(</h3>
</body>