@page
@model Dev_Blog.Pages.About.AboutModel
@{
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/About.css" />
    <title>About</title>
</head>
<body id="bootstrap-override">
    <main>
        <div class="container">
            <div class="card">

                <!-- About the game -->
                <div class="card-header text-left">
                    <h3>About the Game</h3>
                </div>
                <div gameDescription class="card-body text-center">
                    <p>Coming Soon...</p>
                </div>

                <!-- About the creator -->
                <div class="card-header text-left">
                    <h3>About the Creator</h3>
                </div>
                <div creatorDescription class="card-body">
                    <div>
                        <h4>Education</h4>
                        <ul>
                            <li>Some College</li>
                            <li>Coding BootCamp</li>
                            <li>Self-taught</li>
                        </ul>

                        <h4>Work Experience</h4>
                        <ul>
                            <li>USAF - 6 years</li>
                            <li>Learning Sharks - 7 months</li>
                        </ul>

                        <h4>Interests</h4>
                        <ul>
                            <li>Gaming</li>
                            <li>Programming</li>
                            <li>Hiking / Camping</li>
                        </ul>

                        <h4>Programming</h4>
                        <ul>
                            <li>C# / ASP.NET Core</li>
                            <li>JavaScript</li>
                            <li>Unity</li>
                        </ul>

                        <!-- Github & LinkedIn links -->
                        <h4>Links</h4>
                        <ul>
                            <li>
                                <a href="https://github.com/AndrewCS149" target="_blank">GitHub</a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/andrew149/" target="_blank">LinkedIn</a>
                            </li>
                        </ul>
                    </div>
                    <img src="~/Imgs/Me.jpg" />
                </div>
            </div>
        </div>
    </main>
</body>