@model Dev_Blog.Pages.Status.PostsModel
<form method="post" class="text-center">

    @{
        <!-- Page Left -->
        if (Model.PageNumber == 1)
        {
            <a skipFirst>
                <span pageLeft disable>1 . .</span>
            </a>
            <a pageLeft disable class="glyphicon glyphicon-chevron-left"></a>

        }
        else
        {
            <a skipFirst asp-page="Posts" asp-page-handler="FirstPage">
                <span pageLeft>1 . .</span>
            </a>

            <a page pageLeft asp-page="Posts" asp-page-handler="PageLeft" class="glyphicon glyphicon-chevron-left"></a>
        }
        <span page>@Model.PageNumber</span>

        <!-- Page Right -->
        if (Model.PageNumber == Model.LastPage)
        {
            <a pageRight disable class="glyphicon glyphicon-chevron-right"></a>
            <a skipLast>
                <span pageRight disable asp-page="Posts" asp-page-handler="PageRight">. . Last</span>
            </a>
        }
        else
        {
            <a page pageRight asp-page="Posts" asp-page-handler="PageRight" class="glyphicon glyphicon-chevron-right"></a>

            <a skipLast asp-page="Posts" asp-page-handler="LastPage">
                <span pageRight asp-page="Posts" asp-page-handler="PageRight">. . Last</span>
            </a>
        }
    }
</form>