@model Dev_Blog.Pages.Status.PostsModel
<form method="post">
    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
</form>