@page
@model Dev_Blog.Pages.Status.AddModel
@{
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/Add.css" />
    <title>Status</title>
</head>
<body id="bootstrap-override">
    <main>
        <h1>Add Update</h1>
        <div class="container pb-cmnt-container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <form method="post" enctype="multipart/form-data" class="form-inline">
                                <textarea placeholder="Add text here..." class="pb-cmnt-textarea"></textarea>
                                <div class="btn-group">
                                    <button class="btn" type="button">
                                        Upload Image
                                        @{ await Html.RenderPartialAsync("_ImgUploadIcon");}
                                    </button>
                                </div>
                                <input class="form-control" type="file" asp-for="@Model.Image" />
                                <button class="btn btn-primary pull-right" type="submit">Post</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row">
                <div class="col-md-4 d-flex justify-content-center upload-form">
                    <form method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input class="form-control" placeholder="Image Name" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="file" />
                            <button type="submit" class="btn btn-primary btn-sm text-left">Upload Image</button>
                        </div>
                    </form>
                </div>
            </div>*@
    </main>
</body>