@page
@model Dev_Blog.Pages.Status.EditModel
@{
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/Posts.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Edit.css" />
    <title>Status</title>
</head>
<body id="bootstrap-override">
    <main id="main">
        <form method="post" enctype="multipart/form-data" id="edit-form" class="form-inline">
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <span>
                            Update
                            <strong>@Model.Post.UpdateNum</strong>
                        </span>
                        <div class="float-right">
                            <strong>@Model.Post.Date.ToShortDateString()</strong>
                        </div>
                    </div>
                    <div class="card-body">
                        <img class="update-img" src=@Model.Post.ImgURL />
                        <p>@Model.Post.Description</p>
                        <textarea asp-for="@Model.Description" placeholder="New description here.."></textarea>
                        <input type="text" asp-for=@Model.UpdateNum placeholder="Update number here..">

                        <input hidden asp-for=@Model.Post.Id>
                        <input hidden type="datetime" asp-for=@Model.Post.Date>
                        <input hidden type="text" asp-for=@Model.Post.ImgURL>
                        <button editBtn class="btn btn-primary" type="submit" style="display: block">Update</button>
                    </div>
                </div>
            </div>
        </form>
    </main>
</body>