@page
@model Dev_Blog.Pages.Status.IndexModel
@{
    ViewData["Title"] = "Updates";
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/Posts.css" />
    <title>Status</title>
</head>
<body id="bootstrap-override">
    <main>
        <a id="add-post" class="btn btn-primary" asp-page="Add">Add Post</a>
        <div class="container">
            @{
                foreach (var post in Model.Posts)
                {
                    <div class="card">
                        <div class="card-header">
                            <span>
                                Update
                                <strong>@post.UpdateNum</strong>
                            </span>
                            <strong class="float-right">@post.Date.ToShortDateString()</strong>
                        </div>
                        <div class="card-body">
                            <img class="update-img" src=@post.ImgURL />
                            <p>@post.Description</p>
                        </div>
                    </div>
                }
            }
        </div>
    </main>
</body>