@page
@model Dev_Blog.Pages.Status.IndexModel
@{
    ViewData["Title"] = "Updates";
    Layout = "_Layout";
}

<head>
    <title>Status</title>
</head>
<body>
    <main>
        <a class="nav-link" asp-page="Add">Add Post</a>
        <div class="container">
            @{
                foreach (var post in Model.Posts)
                {
                    <div class="card">
                        <div class="card-header">
                            Update
                            <strong>@post.UpdateNum</strong>
                            <strong class="float-right">@post.Date.ToShortDateString()</strong>
                        </div>
                        <div class="card-body">
                            <img src=@post.ImgURL height="432" width="768" />
                            <p>@post.Description</p>
                        </div>
                    </div>
                }
            }
        </div>
    </main>
</body>