@page
@model Dev_Blog.Pages.Status.IndexModel
@{
    ViewData["Title"] = "Updates";
    Layout = "_Layout";
}

<head>
    <title>Status</title>
</head>
<body>
    <h1>Game Status</h1>
    <main>
        <a class="nav-link" asp-page="Add">Create Update</a>
        @{
            foreach (var post in Model.Posts)
            {
                <h3>@post.Date.ToShortDateString()</h3>
                <p>@post.Description</p>
                <img src=@post.ImgURL height="300" width="225" />
            }
        }
    </main>
</body>