@page
@model Dev_Blog.Pages.Status.IndexModel
@{
    Layout = "_Layout";
}

<head>
    <title>Status</title>
</head>
<body>
    <h1>Game Status</h1>
    <main>
        <a class="nav-link" asp-page="Add">Create Update</a>
    </main>
</body>