@page
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Dev_Blog.Models.User> SignInManager
@model Dev_Blog.Pages.Status.PostsModel
@{
    ViewData["Title"] = "Updates";
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/Posts.css" />
    <title>Status</title>
</head>
<body id="bootstrap-override">
    <main>
        <div class="container">
            @{
                if (User.Identity.IsAuthenticated)
                {
                    if (User.Identity.Name == Model.AdminUser)
                    {
                <a id="add-post" class="btn btn-primary" asp-page="Add">Add Post</a>
                    }
                }
                if (Model.Posts != null)
                {

                    foreach (var post in Model.Posts)
                    {
                <div class="card">
                    <div class="card-header">
                        <span>
                            Update
                            <strong>@post.UpdateNum</strong>
                        </span>
                        <strong class="float-right">@post.Date.ToShortDateString()</strong>
                    </div>
                    <div class="card-body">
                        <img class="update-img" src=@post.ImgURL />
                        <p>@post.Description</p>
                    </div>
                    <div class="comment-box form-group">

                        <textarea class="form-control" placeholder="comment..." rows="2" id="comment"></textarea>
                        <button class="btn btn-secondary" type="submit">Comment</button>
                    </div>
                </div>
                    }
                }
            }
        </div>
    </main>
</body>