@page "/login"

@using DevBlog_BlazorServer.Models
@using  Microsoft.AspNetCore.Identity
@inject NavigationManager navMgr
@*@inject SignInManager<UserModel> signInMgr*@
@inject DevBlog_BlazorServer.Interfaces.IPostService _posts

<h3>Login</h3>
<EditForm Model=login OnValidSubmit=SignIn>
    <label>Email</label>
    <InputText @bind-Value=login.UserName />

    <label>Password</label>
    <InputText @bind-Value=login.Password type=password />
    <button type="submit">Login</button>
</EditForm>

@{
    foreach (var user in users)
    {
        <p>@user.UserName</p>
    }
}

@code {
    private LoginModel login = new LoginModel();
    List<IdentityUser> users;

    protected override async Task OnInitializedAsync()
    {
        users = await _posts.GetUsers();
    }

    private async void SignIn()
    {
        @*var result = await signInMgr.PasswordSignInAsync(login.UserName, login.Password, false, false);*@
        var result = await _posts.Login(login);
        if (result)
            navMgr.NavigateTo("/");
    }
}