@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_Layout";
}

<head>
    <title>Home</title>
</head>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>