@page
@model Dev_Blog.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<head>
    <title>Home</title>
</head>
<h1>Home</h1>

<body id="bootstrap-override">
    <main>
    </main>
</body>