@page
@model Dev_Blog.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/home.css" />
    <title>Home</title>
</head>
<body id="bootstrap-override">
    <main>
        <div class="container">
            <div class="card">
                @if (Model.Post != null)
                {
                    <!-- Latest Post -->
                    <div class="card-header">
                        <span>
                            Update
                            <strong>@Model.Post.UpdateNum</strong>
                        </span>
                        <strong class="float-right">@Model.Post.Date.ToShortDateString()</strong>
                    </div>
                    <div class="card-body text-center">
                        <img id="update-img" class="update-img" src=@Model.Post.ImgURL />
                        <p class="post-description">@Model.Post.Description</p>

                        <hr />
                    </div>
                }
                <div youtube class="m-auto embed-responsive-16by9 embed-responsive">
                    @*<iframe class="embed-responsive-item" src="#"></iframe>*@
                    <img class="embed-responsive-item" />
                    <h2>
                        @*TEST*@
                        YouTube Channel
                        <br /><br />
                        Coming Soon
                    </h2>
                </div>
                <!--Suggestion Box-->
                <div suggestion class="card-footer">
                    <a href="mailto:devmaster@thedevblog.net?subject=Suggestion">
                        <button class="btn btn-secondary">
                            <h4>Have a suggestion? Send an email!</h4>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </main>
</body>