@page
@model Dev_Blog.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/All.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Home.css" />
    <title>Home</title>
</head>
<body id="bootstrap-override">
    <main>
        @if (Model.Post != null)
        {
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <span>
                            Update
                            <strong>@Model.Post.UpdateNum</strong>
                        </span>
                        <strong class="float-right">@Model.Post.Date.ToShortDateString()</strong>
                    </div>
                    <div class="card-body text-center">
                        <img id="update-img" src=@Model.Post.ImgURL />
                        <p>@Model.Post.Description</p>

                        <hr />

                        <div class="m-auto embed-responsive-16by9 embed-responsive">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9ou1pl0XNRs"></iframe>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <h4>Have a suggestion? Leave a comment!</h4>
                        <form method="post">
                            <textarea asp-for=@Model.Context placeholder="Put suggestion here.." class="pb-cmnt-textarea d-block"></textarea>
                            <button class="btn btn-primary" asp-page-handler="Suggestion" type="submit">
                                Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </main>
</body>