:root {
    font-family: 'Fira Code', monospace;
    --primary_color: #ff0000;
    color: white;
}

/*Dark Theme*/
header {
    background-color: #414141;
}

body {
    background-color: #313131;
    margin-bottom: 75px;
}

main {
    background-color: #313131;
}