/*input[modal],
textarea[modal],
button[modal] {
    font-family: 'Fira Code', monospace;
}*/

/*h3,
input:last-child {
    font-family: 'Press Start 2P', cursive;
    color: black;
}*/

/*div {
    background-color: #414141;
    border: none;
}*/

/*div {
    background-color: #414141;
}*/

section[modal] {
    background-color: #414141;
    color: white;
}

    section[modal] input {
        color: white;
        display: block;
        margin: 25px;
        font-family: 'Fira Code', monospace;
        /*    border: 2px solid var(--primary_color);*/
    }