/*input[modal],
textarea[modal],
button[modal] {
    font-family: 'Fira Code', monospace;
}

h3 {
    font-family: 'Fira Code', monospace;
}*/

section[modal] input {
    display: block;
    border: 2px solid var(--primary_color);
}