.custom-modal {
    background-color: #414141;
    z-index: 999999;
    padding: 15px;
}

section[modal] input {
    color: white;
    display: block;
    margin: 25px;
    font-family: 'Fira Code', monospace;
    background-color: #313131;
    padding: 7.5px;
}

button[modal],
input[modal] {
    padding: 5px;
}

    button[modal]:hover,
    input[modal]:hover {
        cursor: pointer;
        color: white;
        background-color: #A2A2A2;
    }