@page
@model Dev_Blog.Pages.Error.ErrorModel
@{
    ViewData["Title"] = "Error";
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/Error.css" />
    <title>Status</title>
</head>
<body id="bootstrap-override">
    <main>
        <h3>Oops!!</h3>
        <h4>There was an error</h4>
        <img src="~/Imgs/error.png" />
    </main>
</body>