.img-container {
    display: flex;
    justify-content: center;
}

.img-container>button {
    border-radius: 0;
    background-color: inherit;
    font-size: 2em;
    opacity: .8;
}

.img-container img {
    border-radius: .5em;
    width: 100%;
}

.img-container>.inactive-btn {
    opacity: .3;
}

.img-container>.inactive-btn:hover {
    cursor: default;
}

.img-container>.active-btn:hover {
    background-color: var(--button-hover);
    opacity: .8;
}