:root {
    width: 100%;
}

.post {
    border-radius: .5em;
    margin: auto;
    margin-bottom: 1.5em;
    padding: 25px;
}

.post>div {
    margin: auto;
}

.hide-comment:nth-child(n + 6) {
    display: none;
}

.post-info {
    display: flex;
    padding-bottom: 10px;
}

.post-info>span:first-child {
    font-family: 'Chivo Mono', monospace;
}

.post-info span:last-child {
    margin-left: auto;
}

.show-all-comments-btn {
    margin-top: 5;
    padding: 12;
    width: 100%;
}

.description {
    margin: auto;
}