.latest-post {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 20px;
}

.subscribe-to-email {
    margin: 125px;
    width: 100%;
    text-align: center;
}

.subscribe-to-email>button {
    padding: 15px;
    font-family: 'Chivo Mono', monospace;
    font-size: 15px;
    margin: auto;
}

.update-video>button {
    display: inline;
}

.update-video {
    width: 80%;
}

.update-video>input {
    width: 50%;
}

.youtube-video {
    height: 520px;
    margin-top: 25px;
    margin-bottom: 100px;
    width: 100%;
}

@media (max-width: 400px) {
    .subscribe-to-email {
        margin: 75px;
        width: 100%;
    }

    .youtube-video {
        height: 350px;
        margin-top: 10px;
    }
}