.posts {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 90px 20px 10px 20px;
}

.pager:first-child {
    display: flex;
    margin-bottom: 10px;
}

.pager:last-child {
    display: flex;
    margin-bottom: 50px;
}

.pager span {
    font-family: 'Chivo Mono', monospace;
    font-size: 20px;
    line-height: 35px;
}

.arrow-hidden {
    visibility: hidden;
}

.pager svg {
    font-size: 35px;
    opacity: 0.7;
}

.pager svg:hover {
    cursor: pointer;
    opacity: 1.0;
}