@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>

<main>
    @Body
</main>

<Footer />

@code {
    protected ModalOptions options;

    protected override void OnInitialized()
    {
        options = new ModalOptions()
        {
            Class = "custom-modal",
            FocusFirstElement = true,
            OverlayCustomClass = "modal-background",
            DisableBackgroundCancel = true
        };
    }
}