div:root {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

input {
    background-color: #0d1116;
    border: 1px solid grey;
    border-radius: 2px;
    color: white;
    height: 30;
}