.comment {
    display: "flex";
    margin-bottom: .25em;
    border: .15em solid rgb(70, 68, 60);
    border-radius: .75em;
    padding: .3em;
}

.comment-info {
    display: flex;
    align-items: center;
}

.comment p {
    width: 85%;
}

.comment-info span:last-child {
    margin-left: auto;
}