.navbar {
    top: 0;
    left: 0;
    display: flex;
    height: fit-content;
    margin: auto;
    width: 100vw;
    position: fixed;
}

.nav-items>a,
.logo-link,
.accounts,
.nav-items .accounts:last-child a {
    color: white;
    font-size: 20px;
    height: fit-content;
    padding: 10px;
    text-decoration: none;
}

.logo {
    font-size: 40px;
}

.nav-items {
    display: flex;
    width: 100%;
}

.accounts {
    border: none;
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    align-items: flex-end;
}

.nav-items>span:last-child {
    flex-direction: column;
}

.nav-items>span:last-child a {
    padding: 3px;
}

.navbar .nav-items a.active {
    text-decoration: underline;
    font-weight: bold;
    opacity: 1.0;
}

.non-active,
.accounts a {
    opacity: 0.7;
}

.navbar a:hover,
.accounts a:hover {
    opacity: 1.0;
}

.mobile-nav {
    display: none;
}


@media (max-width: 800px) {
    .nav-items {
        display: none;
    }

    .mobile-nav a,
    .mobile-nav form {
        padding-top: 5px;
        margin-left: auto;
    }

    .mobile-nav {
        margin-left: auto;
        margin-right: 20px;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .mobile-nav-accounts {
        display: flex;
        flex-direction: column;
    }
}