.create-post-btn {
    margin-bottom: 1em;
}

.post {
    margin-bottom: 5em;
    border: .15em solid rgb(70, 68, 60);
    border-radius: .5em;
    padding: 1em;
}

.post-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-info span:last-child {
    margin-left: auto;
}

.show-all-comments-btn {
    border-radius: 0.5em;
    padding: 8px;
}

img {
    border-radius: .5em;
    border: .15em solid rgb(70, 68, 60);
    width: 100%;
    max-width: 900px;

}