.create-post {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.create-post form input {
    margin-bottom: 1em;
}

.create-post label,
button {
    display: block;
}

a {
    color: white;
}