.navbar {
    top: 0;
    left: 0;
    display: flex;
    height: fit-content;
    margin: auto;
    width: 100vw;
    position: fixed;
    z-index: 10;
}

.logo-link {
    color: white;
    font-size: 20px;
    height: fit-content;
    padding: 10px;
    text-decoration: none;
}

.logo {
    font-size: 38px;
    padding: 5px;
}

.logout-form {
    width: fit-content;
}

.logout {
    font-size: 16px;
    padding: 0px;
}

@media(max-width: 450px) {
    .logo {
        font-size: 25px;
    }
}