.navbar {
    top: 0;
    left: 0;
    display: flex;
    height: fit-content;
    margin: auto;
    width: 100vw;
    position: fixed;
    z-index: 2;
}

.nav-items>a,
.logo-link,
.accounts,
.nav-items .accounts:last-child a {
    color: white;
    font-size: 20px;
    height: fit-content;
    padding: 10px;
    text-decoration: none;
}

.logo {
    font-size: 40px;
}

.nav-items {
    display: flex;
    width: 100%;
}

.accounts {
    margin: auto 20px 5px auto;
}

.nav-items>span:last-child {
    flex-direction: column;
}

.nav-items>span:last-child a {
    padding: 3px;
}

.navbar .nav-items a.active {
    text-decoration: underline;
    font-weight: bold;
    opacity: 1.0;
}

.nav-items>a:nth-child(1) {
    margin-left: 30px;
}

.nav-items>a:nth-child(1),
.nav-items>a:nth-child(2) {
    margin-top: auto;
    margin-bottom: 5px;
}

.non-active,
.accounts a {
    opacity: 0.7;
}

.navbar a:hover,
.accounts a:hover {
    opacity: 1.0;
}

.mobile-nav {
    display: none;
}


@media (max-width: 800px) {
    .nav-items {
        display: none;
    }

    .mobile-nav a,
    .mobile-nav form {
        text-decoration: none;
        padding-top: 5px;
        margin-left: auto;
    }

    .mobile-nav a.active {
        text-decoration: underline;
    }

    .mobile-nav {
        margin-left: auto;
        margin-right: 20px;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .mobile-nav>span:first-child {
        margin-left: auto;
    }

    .mobile-nav-accounts {
        display: flex;
        flex-direction: column;
    }

    .logout {
        font-size: 16px;
    }
}