.navbar {
    top: 0;
    left: 0;
    display: flex;
    height: fit-content;
    margin: auto;
    width: 100vw;
    position: fixed;
    z-index: 10;
}

.logo-link {
    color: white;
    font-size: 20px;
    height: fit-content;
    padding: 10px;
    text-decoration: none;
}

.logo {
    font-size: 38px;
    padding: 5px;
}

.non-active,
.accounts a,
.nav-icon,
.notification-icon {
    opacity: 0.8;
}

.notification-drop-down {
    font-size: 35px;
    margin-top: 23px;
    margin-right: 10px;
    z-index: 21;
}

.notifications {
    display: flex;
    font-family: 'Chivo Mono', monospace;
    flex-direction: column;
    font-size: 15px;
    right: 1px;
    background-color: rgb(26, 32, 41);
    position: absolute;
    padding: 10px 4px;
}

.notification-count {
    background-color: red;
    font-family: 'Chivo Mono', monospace;
    font-size: 13px;
    position: absolute;
    border-radius: 50%;
    padding: 5px;
    line-height: 8px;
    right: 118px;
}

.notifications img {
    height: 50px;
    width: 60px;
    border-radius: 0%;
}

.nav-menus-container {
    display: flex;
    margin-left: auto;
}

.notifications>div {
    border-top: 1px solid gray;
    display: flex;
    flex-direction: row;
}

.notification-txt {
    display: flex;
    flex-direction: column;
}

.notification-txt>span:last-child {
    font-size: 12px;
    margin-left: 10px;
}

.notification-txt a {
    padding: 4px;
    text-decoration: none;
}

.nav-drop-down {
    display: flex;
    margin-right: 20px;
    flex-direction: column;
    z-index: 20;
}

.nav-drop-down:hover,
.nav-icon:hover,
.nav-links>a:hover,
.notification-icon:hover {
    opacity: 1.0;
    cursor: pointer;
}

.nav-links a,
.nav-links form {
    text-decoration: none;
    padding-top: 5px;
}

.nav-links a.active {
    text-decoration: underline;
}

.nav-icon {
    font-size: 69px;
    cursor: pointer;
    display: flex;
    margin-top: 7px;
}

.nav-links {
    margin-top: 70px;
    padding: 10px;
    right: 2px;
    position: fixed;
    background-color: rgb(26, 32, 41);
    flex-direction: column;
}

.nav-accounts {
    display: flex;
    flex-direction: column;
}

.logout-form {
    width: fit-content;
}

.logout {
    font-size: 16px;
    padding: 0px;
}

@media(max-width: 450px) {
    .logo {
        font-size: 25px;
    }

    .nav-icon {
        font-size: 50px;
    }

    .nav-links {
        margin-top: 50px;
    }

    .notification-drop-down {
        font-size: 25px;
        margin-top: 19px;
    }

    .notification-count {
        /* display: ; */
        right: 92px;
        font-size: 10px;
        line-height: 6px;
        padding: 4px;
    }
}