.create-post-btn {
    margin-bottom: 1em;
}

.post {
    width: 90%;
    margin-bottom: 1.5em;
    border-radius: .5em;
    padding: 1em;
}

.post>div {
    margin: auto;
    width: 95%;
}

.post-info {
    display: flex;
    margin-bottom: 10px;
}

.post-info span:last-child {
    margin-left: auto;
}

.post-info>span:first-child {
    font-family: 'Chivo Mono', monospace;
}

.show-all-comments-btn {
    border-radius: 0.5em;
    padding: 8px;
}

img {
    border-radius: .5em;
    width: 100%;
    max-width: 900px;
}

.description {
    margin: auto;
}

@media (max-width: 800px) {

    .description,
    .post {
        width: 100%;
    }
}