@attribute [Authorize(Roles = "Admin")]

@inject IPostRepository _post

<section modal>
    <EditForm Model=@Post OnValidSubmit=@UpdatePost>
        <DataAnnotationsValidator />
        <ValidationSummary />
        <InputTextArea @bind-Value=Post.Description placeholder="description" />
        <InputText @bind-Value=Post.UpdateNum placeholder="update number" />
        <input modal type="submit" value="Submit" />
    </EditForm>
</section>

@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    [Parameter]
    public PostModel Post { get; set; }

    private async Task UpdatePost()
    {
        await _post.Update(Post);
        await ModalInstance.CloseAsync();
    }
}