@page "/people"

@using DataLibrary
@using Dev_Blog_Server_5.0.Models
@inject DataLibrary.Interfaces.IDataAccess _data

<h3>People</h3>

@code {
    List<PersonModel> people;

    protected override async Task OnInitializedAsync()
    {
        @*await _data.LoadData*@
    }
}