@page "/about"

<div main>
<section>

    <!-- About the game -->
    <h3>About the Game</h3>
    <p>Coming Soon...</p>

    <!-- About the creator -->
    <h3>About the Creator</h3>
    <h4>Education</h4>
    <ul>
        <li>Some College</li>
        <li>Coding BootCamp</li>
        <li>Self-taught</li>
    </ul>

    <h4>Work Experience</h4>
    <ul>
        <li>USAF - 6 years</li>
        <li>Learning Sharks - 7 months</li>
    </ul>

    <h4>Programming</h4>
    <ul>
        <li>C# / ASP.NET Core</li>
        <li>JavaScript</li>
        <li>PowerShell</li>
        <li>Unity</li>
    </ul>

    <h4>Interests</h4>
    <ul>
        <li>Gaming (ROASTxBEEF77)</li>
        <li>Programming</li>
        <li>Hiking / Camping</li>
    </ul>

    <!-- Github & LinkedIn links -->
    <h4>Links</h4>
    <ul>
        <li>
            <a href="https://github.com/AndrewCS149" target="_blank">GitHub</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/andrew149/" target="_blank">LinkedIn</a>
        </li>
    </ul>
</section>

<img src="Imgs/Me.jpg" />
</div>
