@page "/addpost"

@using BlazorServer.Models
@using BlazorServer.Interfaces
@using System.IO

@inject IPosts _posts
@inject IImages _imgs
@inject NavigationManager NavMgr

<h3>AddPost</h3>

<EditForm Model=@newPost OnValidSubmit=CreatePost>
    <InputText @bind-Value=newPost.UpdateNum />
    <InputTextArea @bind-Value=newPost.Description />
    <InputText @bind-Value=name />
    <InputFile OnChange=HandleFileInput />
    <button type="submit">Add Post</button>
</EditForm>

@code {
    PostModel newPost;
    string name;
    IBrowserFile file;
    Stream fs;

    protected override async Task OnInitializedAsync()
    {
        newPost = new PostModel();
    }

    private void HandleFileInput(InputFileChangeEventArgs e)
    {
        file = e.File;
        fs = file.OpenReadStream();
    }

    private async Task CreatePost()
    {
        string url = await _imgs.AddImgToDropBox(fs, name);
        await _posts.Create(newPost, url);

        NavMgr.NavigateTo("/posts");
    }
}