@page "/"

@inject BlazorServer.Data.AppDbContext db
<!-- LATEST POST -->
@if (latestPost == null)
{
<p>Loading...</p>
}
else
{
<section post>
    <div>
        <span>@latestPost.UpdateNum</span>
        <span>Latest Post</span>
        <span>@latestPost.Date.ToShortDateString()</span>
    </div>
    <img src=@latestPost.ImgURL />
    <p>@latestPost.Description</p>
</section>
}

<!-- YOUTUBE LINK -->
<section youtube>
    @*<iframe src="#"></iframe>*@
    <h2>YouTube Channel</h2>
    <h2>Comming Soon</h2>

</section>

<!-- SUGGESTION BOX -->
<section suggestion>
    <a href="mailto:devmaster@thedevblog.net?subject=Suggestion">
        <h4>Have a suggestion? Send an email!</h4>
    </a>
</section>

@code
{
    PostModel latestPost;

    protected override async Task OnInitializedAsync()
    {
        latestPost = db.Post.OrderByDescending(x => x.Date)
                            .FirstOrDefault();
    }
}
