@page "/"

@using BlazorServer.Models
@inject BlazorServer.Data.AppDbContext db
<!-- LATEST POST -->
<p>@latestPost.UpdateNum</p>
<p>@latestPost.Date.ToShortDateString()</p>
<img src=@latestPost.ImgURL />
<p>@latestPost.Description</p>

<!-- YOUTUBE LINK -->
<div>
    @*<iframe src="#"></iframe>*@
    <h2>
        YouTube Channel
        <br /><br />
        Coming Soon
    </h2>
</div>

<!-- SUGGESTION BOX -->
<div>
    <a href="mailto:devmaster@thedevblog.net?subject=Suggestion">
        <h4>Have a suggestion? Send an email!</h4>
    </a>
</div>

@code {
    PostModel latestPost;

    protected override async Task OnInitializedAsync()
    {
        latestPost = db.Post.OrderByDescending(x => x.Date)
                            .FirstOrDefault();
    }
}