/* entire post */
div[post] {
    margin-top: 50px;
    border-radius: 5px;
    background-color: #414141;
    padding-bottom: 20px;
}

/* post info */
section[postInfo] {
    margin-bottom: 15px;
    border-radius: inherit;
}

img {
    display: block;
    height: 522px;
    margin: auto;
    width: 928px;
    border-radius: 5px 5px 0px 0px;
}

section[postInfo] > div {
    background-color: #626262;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 5px 5px 0px 0px;
}

    section[postInfo] > div span:last-child {
        float: right;
    }

section[postInfo] button {
    color: white;
}

section[postInfo] > div button:hover {
    color: red;
    cursor: pointer;
}

section[postInfo] p {
    text-align: center;
    width: 928px;
    margin: auto;
    background-color: #626262;
    padding: 10px 0px;
    border-radius: 0px 0px 5px 5px;
}

/* Voting */
button[thumbIcon],
span[thumbIcon] {
    fill: grey;
}

button[upvote]:hover {
    fill: lightblue;
    cursor: pointer;
}

button[downvote]:hover {
    fill: indianred;
    cursor: pointer;
}

section[votes] {
    margin-bottom: 10px;
}

/* comments */
div[comments] {
    margin: auto;
    width: 85%;
}

section[comment] {
    border: 1px solid grey;
    margin: 12px 0px;
    background-color: #313131;
}

::deep textarea {
    display: block;
    background-color: #313131;
    color: white;
    width: 100%;
}

section[comment] > span {
    position: relative;
    top: -8px;
    left: 10px;
    padding: -0px 5px;
    background-image: linear-gradient(#414141 50%, #313131 50%);
}

section[comment] div {
    float: right;
    padding: 3px;
}

section[comment] p {
    padding: 7.5px;
}

/* comment delete button */
section[comment] button {
    position: relative;
    color: white;
    top: 3px;
}

    section[comment] button:hover {
        color: red;
        cursor: pointer;
    }

/* add comment */
section[addComment] button {
    border: 1px solid grey;
    padding: 5px;
    margin-top: 5px;
    color: white;
    background-color: #626262;
}

    section[addComment] button:hover {
        cursor: pointer;
        opacity: 80%;
    }