/* entire post */
div[post] {
    margin-top: 50px;
}

/* post info */
img {
    display: block;
    height: 522px;
    margin: auto;
    width: 928px;
}

section[postInfo] > span:nth-child(2) {
    float: right;
}

section[postInfo] p {
    text-align: center;
}

section[postInfo] {
    margin: auto;
    width: 80%;
}

/* Voting */
button[thumbIcon],
span[thumbIcon] {
    fill: grey;
}

/* comments */
div[comments] {
    margin: auto;
    width: 85%;
}

::deep textarea {
    display: block;
    width: 100%;
}

section[comment] {
    border: 1px solid grey;
    margin: 5px 0px;
}

    section[comment] div {
        float: right;
    }

    section[comment] p {
        padding: 7.5px;
    }

section[addComment] button {
    border: 1px solid grey;
    padding: 5px;
    margin-top: 5px;
}