@page "/login"

@using BlazorServer.Models
@using  Microsoft.AspNetCore.Identity

@inject NavigationManager navMgr
@inject SignInManager<UserModel> signInMgr
@inject UserManager<UserModel> userMgr
@inject BlazorServer.Interfaces.IPosts _posts

<h3>Login</h3>
@*<EditForm Model=signIn OnValidSubmit=SignIn>
        <label>UserName</label>
        <InputText @bind-Value=signIn.UserName />

        <label>Password</label>
        <InputText @bind-Value=signIn.Password type=password />
        <button type="submit">Login</button>
    </EditForm>*@
<form method="post" action="/signin">
    <input type="text" name="username" />
    <input type="password" name="password" />
    <input type="submit" value="Login" />
</form>

@code {
    private SignInModel signIn;

    protected override async Task OnInitializedAsync()
    {
        signIn = new SignInModel();
    }
}