@page "/login"

<h3>Login</h3>
<form method="post" action="/signin">
    <input type="text" name="username" required />
    <input type="password" name="password" required />
    <input type="submit" value="Login" />
</form>

@code {
    private SignInModel signIn;

    protected override async Task OnInitializedAsync()
    {
        signIn = new SignInModel();
    }

    private class SignInModel
    {
        public string UserName { get; set; }
        public string Password { get; set; }
    }
}