@attribute [Authorize(Roles = "Admin")]

@using System.IO

@inject State.AppState appState

<section modal>
    <EditForm Model=@newPost OnValidSubmit=CreatePost>
        <DataAnnotationsValidator />
        <ValidationSummary />
        <InputText @bind-Value=newPost.UpdateNum placeholder="update number" />
        <InputTextArea @bind-Value=newPost.Description placeholder="description" />
        <InputText @bind-Value=name placeholder="file name" />
        <InputFile OnChange=HandleFileInput placeholder="file" />
        <input modal type="submit" value="Submit" />
    </EditForm>
</section>

@code {
    [CascadingParameter]
    BlazoredModalInstance ModalInstance { get; set; }

    PostModel newPost;
    string name;
    Stream fs;

    protected override void OnInitialized()
    {
        newPost = new PostModel();
    }

    private void HandleFileInput(InputFileChangeEventArgs e)
    {
        fs = e.File.OpenReadStream(2000000);
    }

    private async Task CreatePost()
    {
        string url = await appState.AddImgToDropBox(this, name, fs);
        await appState.AddPost(this, newPost, url);
        await ModalInstance.CloseAsync();
    }
}