@attribute [Authorize(Roles = "Admin")]

@using System.IO

@inject IPostRepository _posts
@inject IImageRepository _imgs
@inject IEmailRepository _emails
@inject NavigationManager NavMgr
@inject State.AppState appState

<section modal>
<EditForm Model=@newPost OnValidSubmit=CreatePost>
    <InputText @bind-Value=newPost.UpdateNum placeholder="update number" />
    <InputTextArea @bind-Value=newPost.Description placeholder="description" />
    <InputText @bind-Value=name placeholder="file name" />
    <InputFile OnChange=HandleFileInput placeholder="file" />
    <button modal type="submit">Add Post</button>
</EditForm>
</section>

@code {
    PostModel newPost;
    string name;
    IBrowserFile file;
    Stream fs;

    protected override async Task OnInitializedAsync()
    {
        newPost = new PostModel();
    }

    private void HandleFileInput(InputFileChangeEventArgs e)
    {
        file = e.File;
        fs = file.OpenReadStream();
    }

    private async Task CreatePost()
    {
        string url = await _imgs.AddImgToDropBox(fs, name);
        await appState.AddPost(newPost, url);
        //await _posts.Create(newPost, url);
        await _emails.NewPost(url);

        NavMgr.NavigateTo("/posts");
    }
}