<section modal>
    <form method="post" action="/deleteAccount">
        <button modal type="submit">Yes</button>
    </form>
    <button modal @onclick="Cancel">No</button>
</section>

@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    private void Cancel()
    {
        ModalInstance.CancelAsync();
    }
}