@attribute [Authorize(Roles = "Admin")]

@inject IPosts _posts
@inject NavigationManager NavMgr
@inject IModalService _modal

@if (post == null)
{
    <p>Loading...</p>
}
else
{
    <EditForm Model=@post OnValidSubmit=@UpdatePost>
        <DataAnnotationsValidator />
        <ValidationSummary />

        <InputTextArea @bind-Value=post.Description placeholder="description" />
        <InputText modal @bind-Value=post.UpdateNum placeholder="update number" />
        <button type="submit">Update</button>
    </EditForm>
}

@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    [Parameter]
    public int Id { get; set; }
    private PostModel post;

    protected override async Task OnInitializedAsync()
    {
        post = await _posts.GetPost(Id);
    }

    private async Task UpdatePost()
    {
        await _posts.UpdatePost(post);
        await ModalInstance.CloseAsync(ModalResult.Ok("Success"));
    }
}