@using System.ComponentModel.DataAnnotations;

@inject IModalService _modal

<section modal>
    <EditForm Model=registerVM>
        <form method="post" action="/signup">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <InputText @bind-Value=registerVM.UserName placeholder="username" />
            <InputText @bind-Value=registerVM.Password type="password" placeholder="password" />
            <InputText @bind-Value=registerVM.ConfirmPassword type="password" placeholder="confirm password" />
            <InputText @bind-Value=registerVM.Email type="email" placeholder="email" />

            <input type="hidden" name="username" value=@registerVM.UserName hidden />
            <input type="hidden" name="password" value=@registerVM.Password hidden />
            <input type="hidden" name="confirmpassword" value=@registerVM.ConfirmPassword hidden />
            <input type="hidden" name="email" value=@registerVM.Email hidden />

            <input modal type="submit" value="Submit" />
        </form>
    </EditForm>
</section >

    @code {
        RegisterVM registerVM;

        protected override async Task OnInitializedAsync()
        {
            registerVM = new RegisterVM();
        }

        public class RegisterVM
        {
            [Required]
            [StringLength(25)]
            public string UserName { get; set; }

            [Required]
            [DataType(DataType.Password)]
            [StringLength(35)]
            public string Password { get; set; }

            [Required]
            [DataType(DataType.Password)]
            [Compare("Password")]
            [StringLength(35)]
            public string ConfirmPassword { get; set; }

            [Required]
            [EmailAddress]
            [RegularExpression("^(?=.{1,64}@)[A-Za-z0-9_-]+(\\.[A-Za-z0-9_-]+)*@[^-][A-Za-z0-9-]+(\\.[A-Za-z0-9-]+)*(\\.[A-Za-z]{2,})$", ErrorMessage = "Please enter a correct email address")]
            public string Email { get; set; }
        }
    }