@using System.ComponentModel.DataAnnotations;

<section modal>
<EditForm Model=signIn>
    <form method="post" action="/signin">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <InputText @bind-Value=signIn.UserName placeholder="username" />
        <InputText @bind-Value=signIn.Password type="password" placeholder="password" />

        <input type="hidden" name="username" value=@signIn.UserName hidden />
        <input type="hidden" name="password" value=@signIn.Password hidden />

        <input modal type="submit" value="Submit" />
    </form>
</EditForm>
</section>

@code {
    private SignInModel signIn;

    protected override async Task OnInitializedAsync()
    {
        signIn = new SignInModel();
    }

    private class SignInModel
    {
        [Required]
        public string UserName { get; set; }

        [Required]
        public string Password { get; set; }
    }
}