@using System.ComponentModel.DataAnnotations;

<section modal>
    <form method="post" action="/signin">
        <EditForm Model=signIn>
            <DataAnnotationsValidator />
            <ValidationSummary />
            <InputText @bind-Value=signIn.UserName placeholder="username" />
            <InputText @bind-Value=signIn.Password type="password" placeholder="password" />

            <input type="hidden" name="username" value=@signIn.UserName hidden />
            <input type="hidden" name="password" value=@signIn.Password hidden />

            <input modal type="submit" value="Submit" />
        </EditForm>
    </form>
</section>

@code {
    private SignInModel signIn;

    protected override void OnInitialized()
    {
        signIn = new SignInModel();
    }

    private class SignInModel
    {
        [Required(ErrorMessage = "username required")]
        public string UserName { get; set; }

        [Required(ErrorMessage = "password required")]
        public string Password { get; set; }
    }
}