@using System.ComponentModel.DataAnnotations;

<EditForm Model=signIn>
    <form method="post" action="/signin">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <InputText form @bind-Value=signIn.UserName placeholder="username" />
        <InputText form @bind-Value=signIn.Password type="password" placeholder="password" />

        <input type="text" name="username" value=@signIn.UserName hidden />
        <input type="password" name="password" value=@signIn.Password hidden />

        <input type="submit" value="Login" />
    </form>
</EditForm>

@code {
    private SignInModel signIn;

    protected override async Task OnInitializedAsync()
    {
        signIn = new SignInModel();
    }

    private class SignInModel
    {
        [Required]
        public string UserName { get; set; }

        [Required]
        public string Password { get; set; }
    }
}